<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="clothing.imagen" [alt]="clothing.nombre"></td>
            <td>{{clothing.nombre}}</td>
            <td>{{clothing.tipo}}</td>
            <td>{{clothing.precio}}</td>
            <td>{{clothing.stock}}</td>
        </tr>
    </tbody>
</table>